# cp env.sample .env
# also make a production production .env file
# cp .env env.prod

API_NAME=queue
API_HOST=0.0.0.0
API_PORT=
API_REQUEST_LOG=true

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=
DB_SSLMODE=disable
DB_MAXCONNECTIONPOOL=8

REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_NAME=1
REDIS_USER=
REDIS_PASS=
REDIS_CACHE_TIME=5

# To connect to Redis cluster, comma separated host:port
# REDIS_ADDRESSES=localhost:7001,localhost:7007,localhost:7003,localhost:7005,localhost:7005,localhost:7006

JWT_SECRET_KEY=
SECURE_COOKIES=
