package http

import (
	"net/http"

	"github.com/go-playground/validator/v10"

	"{{ .ModuleName }}/internal/domain/{{ .DomainLowerCase }}"
	"{{ .ModuleName }}/internal/domain/{{ .DomainLowerCase }}/usecase"
	"{{ .ModuleName }}/internal/utility/respond"
	"{{ .ModuleName }}/internal/utility/validate"
	"tasks/task"
)

type Handler struct {
	validate *validator.Validate
	useCase  usecase.UseCase
}

// NewHandler receives dependencies and stores them in a local Handler struct.
// All methods of Handler like Send() will be able to use the dependencies.
// Every handler does
//   1. Bind byte stream into local struct
//   2. Validate user input
//   3. Send to appropriate use case layer
//   4. Check response from use case layer
//   5. Respond with result or errors
//
// Note that there are no business logic done in this layer at all.
func NewHandler(uc usecase.UseCase, validate *validator.Validate) *Handler {
	return &Handler{
		useCase:  uc,
		validate: validate,
	}
}

// Send an {{ .DomainLowerCase }} with payload
// @Summary
// @Description
// @Success 200
// @Failure 400
// @Failure 500
// @Router /api/v1/{{ .DomainLowerCase }} [post]
func (h *Handler) Send(w http.ResponseWriter, r *http.Request) {

	// After going through global middlewares, the first thing we want to do is
	// to validate user request.
	// So we make a custom struct with the fields we expect.
	// We need to transform the stream of bytes requests by binding the json
	// input into the struct.
	var req {{ .DomainLowerCase }}.Request
	err := {{ .DomainLowerCase }}.Bind(r.Body, &req)
	if err != nil {
		respond.Error(w, http.StatusBadRequest, nil)
		return
	}
	errs := validate.Validate(h.validate, req)
	if errs != nil {
		respond.Errors(w, http.StatusBadRequest, errs)
		return
	}

	// Depending on the task type constant defined in task/tasks.go, we
	// determine what to do with it.
	switch req.Type {
	case task.{{ .TaskConstant }}:
		err = h.useCase.Send(r.Context(), req)
		if err != nil {
			respond.Error(w, http.StatusInternalServerError, err)
			return
		}
	default:
		respond.Error(w, http.StatusBadRequest, respond.ErrBadRequest)
	}
}
